* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
body {
  background: #191919;

}

.gallery {
  display: flex;
  width: 900px;
  overflow-x: scroll;
}
.gallery div {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  width: 100%;
  flex: none;
}

.gallery div img {
  width: 100%;
  filter: grayscale(100%);
  transition: all ease 0.5s;
}

.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}

#next-btn,
#back-btn {
  width: 50px;
  cursor: pointer;
  margin: 40px;
}

.gallery div img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}
